<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567566550726-kg3cuq8mj1dtgn9an8qsmrbgktb8r56g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567566550726-kg3cuq8mj1dtgn9an8qsmrbgktb8r56g</string>
	<key>API_KEY</key>
	<string>AIzaSyBfZSrlsprYAJIa5b-OOBxa-vSPfvmoYKg</string>
	<key>GCM_SENDER_ID</key>
	<string>567566550726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>bankinterestrates-fa81e</string>
	<key>STORAGE_BUCKET</key>
	<string>bankinterestrates-fa81e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567566550726:ios:fe91e8f4f1d77aafbbf9c7</string>
	<key>DATABASE_URL</key>
	<string>https://bankinterestrates-fa81e.firebaseio.com</string>
</dict>
</plist>